body {
  font-family: 'Georgia', sans-serif;
  width: 350px;
  background: #ac7ddd
}

label {
  font-weight: bold;
}

div {
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

p {
  background: #249af4;
  color: #000000;
  padding: 25px;
  visibility: hidden;
}
